

form {
  margin: 0 auto;
  padding: 10px;
  width: 400px;
  height: 800px;
}

fieldset {
  background-color: rgb(250, 250, 250);
}

label, select, .normal, button {
  display: block;
}

label {
  margin: 10px auto;
}

.normal {
  margin: 0 auto;
  width: 350px;
}

.btn {
  margin: 10px auto;
  width: 350px;
}
